@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

.body {
  font-family: "PT Sans";
  sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.appointment-button {
  font-family: "PT Sans";
  sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-use {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}

.button-reset {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-detailed {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favourites {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans";
  sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.favourites-number {
  font-family: "PT Sans";
  sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  text-align: center;
}

.navigation-button {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/photo-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description {
  font-family: "PT Sans";
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.description-sedona {
  font-family: "PT Sans";
  sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.advantage-list {
  text-align: center;
}

.advantage-titel-blue {
  font-family: "PT Sans";
  sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.advantage-description-blue {
  font-family: "PT Sans";
  sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantage-titel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  text-transform: uppercase;
}

.advantage-description {
  font-family: "PT Sans";
  sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-service-list {
  text-align: center;
}

.advantage-service-titel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  text-transform: uppercase;
}

.advantage-service-description {
  font-family: "PT Sans";
  sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-food-titel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-food-description {
  font-family: "PT Sans";
  sanf-serif;
  font-weight: 400;
}

.hotel-search {
  text-align: center;
}

.hotel-information {
  font-family: "PT Sans";
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.hotel-information-date {
  font-family: "PT Sans";
  sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.hotel-search-sedona {
  font-family: "PT Sans";
  sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
}

.appointment {
  text-align: center;
}

.appointment-title {
  font-family: "PT Sans";
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.appointment-information {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.from-email {
  font-family: "PT Sans";
  sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.page-foter {
  color: #000000;
  background-color: #ffffff;
}

.contacts-phone {
  font-family: "PT Sans";
  sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.inner-header-titel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
}

.breadcrumbs-hotel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #82B3D3;
}

.catalog-filter-titel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: capitalize;
}

.control {
  font-family: "PT Sans";
  sans-serif;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  background-color: #82B3D3;
}

.sorting-title {
  font-family: "PT Sans";
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.sorting-number {
  font-family: "PT Sans";
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans";
  sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.catalog-titel {
  font-family: "PT Sans";
  sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.catalog-hotel {
  font-family: "PT Sans";
  sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.catalog-price {
  font-family: "PT Sans";
  sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.catalog-rating {
  font-family: "PT Sans";
  sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
text-align: center;
}

.pagination-current {
  font-family: "PT Sans";
  sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link {
  font-family: "PT Sans";
  sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-text {
  font-family: "PT Sans";
  sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}
